@charset "UTF-8";

/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

#kre_wrap {
	background-color: #f6f6f6;
}

#kre_aside {
	position: absolute;
	width:100%;
	height: 50px;
	/* padding: 10px 15px; */
	box-sizing: border-box;
	background-color: #033e6a;
	color: #fff;
	z-index: 9000;
}

#kre_aside h2 {
	display: none;
}

#kre_aside .aside_item:after {
	content: " ";
	display: block;
	clear: both;
}
	
#kre_aside a {
	color: #fff;
}

#logo {
	float: left;
	margin: 0;
	font-size: 20px;
}

#logo a {
	display: block;
    padding: 13.5px;
}

#menu_icon {
	float: right;
}

#mobile_menu_btn {
	background-color: transparent;
	border: none;
	padding: 11px;
    color: #fff;
}

#mobile_menu_btn > .material-icons {
	font-size: 28px;
}

#ad1 {
	display: none;
}

#ad1 > .adsbygoogle {
	display: none;
}

#kre_mobile_menu {
	display: none;
    background-color: rgba(255, 255, 255, 0.95);
	position: absolute;
    left: 0px;
    top: 50px;
	width: 100%;
	border: 2px solid #033e6a;
	border-top: none;
	box-sizing: border-box;
}

#kre_mobile_menu #kre_search {
	padding: 20px;
	border-top: 1px solid #fff;
	background-color: #033e6a;
}

#kre_mobile_menu #searchQuery {
	width: 226px;
	height: 40px;
	padding: 10px;
	font-size: 16px;
}

#kre_mobile_menu #searchBtn {
	width: 44px;
	height: 38px;
	margin-left: 6px;
	border-color: #fff;
	padding: 6px;
	box-sizing: border-box;
	vertical-align: middle;
}

#kre_mobile_menu #kre_category a,
#kre_mobile_menu #kre_menu a,
#kre_mobile_menu #kre_menu button {
	color: #033e6a;
	font-weight: bold;
}

#kre_category_list ul {
	padding-left: 0;
}

#kre_category_list > ul {
	margin: 0;
}

#kre_category_list a {
	display: block;
	border-bottom: 1px solid #033e6a;
	padding: 12px 20px;
}

#kre_category_list .material-icons {
	vertical-align: middle;
	margin-right: 6px;
}

#kre_category_list .category_depth_2 > li > a {
	padding-left: 40px;
}

#kre_category_list .category_depth_3 > li > a {
	padding-left: 60px;
}

#kre_category_list .category_depth_4 > li > a {
	padding-left: 80px;
}

#kre_category_list .category_post_count {
	font-size: 16px;
}

#kre_menu > ul a,
#kre_menu > ul button {
	margin-top: 10px;
}

#kre_menu > ul > li:first-child a,
#kre_menu > ul > li:first-child button {
	margin-top: 0;
}

#kre_footer {
	display: none;
}

#kre_main {
	display: block; /* IE에서 main 태그를 block으로 인식하지 못함. */
	box-sizing: border-box;
	padding-top: 50px;
}

#kre_content {
	max-width: 1100px;
	min-height: 100%;
	box-sizing: border-box;
	padding: 15px 15px 50px 15px;
	background-color: #fff;
}

.section_subject {
	font-size: 22px;
	margin: 0 0 15px 0;
}

.adsense {
	background-color: #999!important;
}

.kre_footer_btn {
	margin-top: 10px;
	font-size: 16px;
}
#kre_footer {
	background-color: #033e6a;
	word-break: break-all;
}

#kre_footer_mobile {
	padding: 14px;
	background-color: #033e6a;
	word-break: break-all;
}

#kre_footer_mobile .copyright {
	color: #fff;
}
#kre_footer .kre_footer_btn a,
#kre_footer_mobile .kre_footer_btn a {
	color: #ffc46c;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	html, body, #kre_wrap {
		overflow: hidden;
		height: 100%;
	}

	#kre_aside {
		width: 300px;
		height: 100%;
		padding: 0;
	}

	#kre_aside #kre_aside_wrap {
		padding: 25px;
	}

	#kre_aside h2 {
		display: block;
		margin: 20px 0;
		font-size: 20px;
	}

	#logo {
		float: none;
		text-align: center;
		font-size: 24px;
	}

	#menu_icon {
		display: none;
	}

	#ad1 {
		display: block;
		margin: 0 auto;
	}

	#ad1 > .adsbygoogle {
		display: inline-block;
		width: 250px;
		height: 250px;
	}
	
	#kre_mobile_menu {
		display: block;
		position: static;
		left: auto;
		top: auto;
		background-color: #033e6a;
		border: none;
	}

	#kre_aside .aside_item {
		margin-top: 20px;
	}

	#kre_aside .aside_item:first-child {
		margin-top: 0;
	}

	#kre_mobile_menu #kre_search {
		padding: 0;
	}

	#kre_mobile_menu #searchQuery {
		width: 200px;
	}

	#kre_mobile_menu #kre_category a,
	#kre_mobile_menu #kre_menu a,
	#kre_mobile_menu #kre_menu button {
		color: #fff;
		font-weight: normal;
	}

	#kre_category_list > ul {
		padding-left: 0;
	}
	
	#kre_category_list ul {
		list-style: none;
		padding-left: 20px;
	}

	#kre_category_list a {
		border: none;
	}

	#kre_category_list .category_list > li > a {
		padding: 6px 6px 6px 0;
	}

	#kre_main {
		float: left;
		width: 100%;
		height: 100%;
		padding-top: 0;
		padding-left: 300px;
	}
	
	#kre_content {
		position: relative;
		box-sizing: border-box;
		padding: 30px 30px 80px 30px;
	}

	.section_subject {
		margin: 20px 0;
	}

	#kre_footer {
		display: block;
		padding: 10px;
	}

	#kre_footer_mobile {
		display: none;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	#kre_aside {
		width: 396px;
	}

	#kre_aside #kre_aside_wrap {
		padding: 30px;
	}

	#logo {
		font-size: 32px;
	}

	#logo a {
		padding: 25px 0;
	}
	
	#ad1 > .adsbygoogle {
		width: 336px;
		height: 280px;
	}

	#kre_mobile_menu #searchQuery {
		width: 286px;
	}

	#kre_mobile_menu #searchBtn {
		width: 44px;
	}

	#kre_main {
		padding-left: 396px;
	}
}
