<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.kurien.blog.module.category.mapper.CategoryMapper">
	<resultMap id="resultMap" type="net.kurien.blog.module.category.entity.Category">
		<id property="categoryNo" column="categoryNo" />
		<result property="categoryParentNo" column="categoryParentNo"/>
		<result property="categoryDepth" column="categoryDepth"/>
		<result property="categoryOrder" column="categoryOrder"/>
		<result property="categoryId" column="categoryId"/>
		<result property="categoryName" column="categoryName"/>
	</resultMap>
	
	<sql id="table">
		kreCategory
	</sql>

    <select id="selectList" resultMap="resultMap">
        SELECT *
        FROM <include refid="table" />
       	ORDER BY
       		categoryDepth ASC,
       		categoryOrder ASC,
       		categoryNo DESC
    </select>

    <select id="selectListByParentNo" resultMap="resultMap">
        SELECT *
        FROM <include refid="table" />
        <where>
			<choose>
				<when test="categoryParentNo != null">
	        		categoryParentNo = #{categoryParentNo}
				</when>
				<otherwise>
					categoryParentNo is null
				</otherwise>
			</choose>
        </where>
       	ORDER BY
       		categoryDepth ASC,
       		categoryOrder ASC,
       		categoryNo DESC
    </select>
    
    <select id="selectCount" resultType="Integer">
        SELECT count(*)
        FROM <include refid="table" />
    </select>
    
    <select id="selectOneByNo" parameterType="Integer" resultMap="resultMap">
        SELECT *
        FROM <include refid="table" />
        <where>
        	categoryNo = #{categoryNo}
        </where>
    </select>
    
    <select id="selectOneById" parameterType="String" resultMap="resultMap">
        SELECT *
        FROM <include refid="table" />
        <where>
        	categoryId = #{categoryId}
        </where>
    </select>
		
    <insert id="insert" useGeneratedKeys="true" keyProperty="categoryNo">
        INSERT INTO
        <include refid="table" /> (
        	categoryNo,
        	categoryParentNo,
        	categoryDepth,
        	categoryOrder,
        	categoryId,
        	categoryName
        )
        VALUES (
        	#{categoryNo},
        	#{categoryParentNo},
        	#{categoryDepth},
        	#{categoryOrder},
        	#{categoryId},
        	#{categoryName}
		)
    </insert>
    
    <update id="update">
        UPDATE <include refid="table" />
        <set>
			categoryParentNo = #{categoryParentNo},
			
        	<if test="categoryDepth != null">
	        	categoryDepth = #{categoryDepth},
        	</if>
        	<if test="categoryOrder != null">
	        	categoryOrder = #{categoryOrder},
        	</if>
        	<if test="categoryName != null">
	        	categoryName = #{categoryName},
        	</if>
       	</set>
       	<where>
       		categoryNo = #{categoryNo}
       	</where>
    </update>
    
    <delete id="delete">
        DELETE FROM <include refid="table" />
        <where>
        	categoryId = #{categoryId} 
        </where>
    </delete>
    
    <delete id="deleteList" parameterType="list">
        DELETE FROM <include refid="table" />
        <where>
        	categoryNo IN
        	<foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
        		#{item.value}
        	</foreach>
        </where>
    </delete>
    
    <delete id="deleteAll">
        TRUNCATE <include refid="table" />
    </delete>
    
    <select id="isExist" resultType="Integer">
        SELECT count(*)
        FROM <include refid="table" />
        <where>
        	categoryNo = #{categoryNo}
        </where>
    </select>
</mapper>
