<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.kurien.blog.module.shortUrl.mapper.ShortUrlMapper">
	<resultMap id="resultMap" type="net.kurien.blog.module.shortUrl.entity.ShortUrl">
		<id property="shortUrlNo" column="shortUrlNo" />
		<result property="realUrl" column="realUrl"/>
		<result property="encodedUrl" column="encodedUrl"/>
		<result property="visitCount" column="visitCount"/>
		<result property="createTime" column="createTime" typeHandler="org.apache.ibatis.type.SqlTimestampTypeHandler"/>
		<result property="createIp" column="createIp"/>
	</resultMap>
	
	<sql id="table">
		kreShortUrl
	</sql>
	
	<select id="selectOne" parameterType="Integer" resultMap="resultMap">
        SELECT *
        FROM <include refid="table" />
        <where>
        	shortUrlNo = #{shortUrlNo}
        </where>
	</select>
    
    <select id="selectCount" resultType="Integer">
        SELECT count(*)
        FROM <include refid="table" />
        <where>
        	shortUrlNo = #{shortUrlNo}
        </where>
    </select>
    
    <update id="visitCount">
        UPDATE <include refid="table" />
        <set>
			visitCount = visitCount + 1
       	</set>
       	<where>
       		shortUrlNo = #{shortUrlNo}
       	</where>
    </update>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="shortUrlNo">
        INSERT INTO
        <include refid="table" /> (
        	realUrl,
        	createTime,
        	createIp
        )
        VALUES (
        	#{realUrl},
        	#{createTime},
        	#{createIp}
		)
    </insert>
    
    <update id="setEncoded">
        UPDATE <include refid="table" />
        <set>
       		encodedUrl = #{encodedUrl}
       	</set>
       	<where>
       		shortUrlNo = #{shortUrlNo}
       	</where>
    </update>
		
    <delete id="delete">
        DELETE FROM <include refid="table" />
        <where>
        	shortUrlNo = #{shortUrlNo} 
        </where>
    </delete>
    
    <delete id="deleteList" parameterType="list">
        DELETE FROM <include refid="table" />
        <where>
        	shortUrlNo IN
        	<foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
        		#{item.value}
        	</foreach>
        </where>
    </delete>
    
    <delete id="deleteAll">
        TRUNCATE <include refid="table" />
    </delete>
</mapper>
