@charset "UTF-8";

/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

#auth_signin #auth_signin_form {
	padding: 20px;
	border: 1px solid #033e6a;
}

#auth_signin #auth_signin_form .kre_box_left {
	float: none;
}

#auth_signin #auth_signin_form .kre_box_right {
	float: none;
	margin-top: 6px;
}

#auth_signin .row_column {
	display: inline-block;
	width: 100%;
	margin-top: 6px;
	font-weight: bold;
}

#auth_signin .kre_row:first-child .row_column:first-child {
	margin-top: 0;
}

#auth_signin .kre_inp {
	width: 100%;
	margin-top: 4px;
	padding: 18px 10px;
}

#auth_signin .signin_btn {
	width: 100%;
    height: 40px;
	margin-top: 6px;
}

#auth_btn {
	font-weight: bold;
}

#auth_btn ul {
	width: 100%;
	margin-top: 20px;
}

#auth_btn li {
	float: none;
	margin: 10px 0 0 0;
}

#auth_btn li:first-child {
	margin-top: 0;
}

#auth_btn a {
	display: block;
	padding: 10px;
	text-align: center;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	#auth_signin #auth_signin_form {
		width: 320px;
		padding: 40px;
	}

	#auth_signin #auth_signin_form:after {
		content: " ";
		display: block;
		clear: both;
	}

	#auth_signin #auth_signin_form .kre_box_left {
		float: left;
	}
	
	#auth_signin #auth_signin_form .kre_box_right {
		float: right;
		margin-top: 0;
	}

	#auth_signin .kre_row:after {
		content: " ";
		display: block;
		clear: both;
	}

	#auth_signin .row_column {
		float: left;
		width: 40px;
		margin-top: 0;
		padding: 5px 0;
		vertical-align: middle;
	}

	#auth_signin .kre_inp {
		float: right;
		width: 160px;
		margin-top: 0;
		padding: 6px;
	}

	#auth_signin .signin_btn {
		width: 110px;
		height: 66px;
		margin-top: 0;
	}

	#auth_btn {
		font-weight: normal;
	}

	#auth_btn ul {
		width: auto;
		margin-top: 10px;
	}

	#auth_btn li {
		float: left;
		margin: 0 0 0 8px;
	}

	#auth_btn li:first-child {
		margin-left: 0;
	}

	#auth_btn a {
		text-align: left;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
	