@charset "UTF-8";

#post_list .kre_grid_item {
	position: absolute;
	top: -9999px;
	left: -9999px;
	width: 300px;
	min-height: 200px;
	padding: 20px;
	border: 1px solid #333;
	box-sizing: border-box;
	background-color: #fff;
	margin-bottom: 20px;
	transition: background-color 1s, color 1s;
	cursor: pointer;
}


#post_list .kre_grid_item.kre_grid_item_empty {
	background-color: rgba(51, 51, 51, 0.8);
	color: #fff;
	cursor: not-allowed;
}


#post_list .kre_grid_item:hover {
	background-color: rgba(51, 51, 51, 0.8);
	color: #fff;
}

#post_list .kre_grid_item:hover .post_subject a {
	color: #fff;
}

#post_list .kre_grid_item:hover .post_write_time {
	color: #fff;
}

#post_list .kre_grid_item > ul {
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

#post_list .kre_grid_item > ul > li {
	margin-top: 20px;
}

#post_list .kre_grid_item > ul > li:first-child {
	margin-top: 0;
}

#post_list .post_subject {
	font-size: 24px;
	font-weight: bold;
}

#post_list .post_subject a {
	transition: color 1s;
	color: #333;
}

#post_list .post_write_time {
	font-size: 14px;
	color: #777;
	transition: color 1s;
}

#post_list #ad2 {
	width: 300px;
	height: 250px;
	padding: 0;
	border: none;
}

#post_list #ad3 {
	width: 300px;
	height: 250px;
	padding: 0;
	border: none;
}

#post_list .postListAdsense {
	width: 300px;
	height: 250px;
}


#post_view .kre_article .kre_article_subject {
    margin: 0;
    padding: 0 8px 10px 8px;
    border-bottom: 2px solid #033e6a;
	color: #033e6a;
	font-size: 28px;
}


#post_view .kre_article .kre_article_info {
	padding: 20px 10px;
}

#post_view .kre_article .kre_article_info > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#post_view .kre_article .kre_article_info > ul > li {
	margin-top: 6px;
}

#post_view .kre_article .kre_article_info > ul > li:first-child {
	margin-top: 0;
}

#post_view .kre_article .kre_article_body {
	min-height: 200px;
    padding: 20px 10px;
	border-top: 2px dotted #033e6a;
	border-bottom: 2px dotted #033e6a;
}

#post_view .kre_article .kre_article_footer {
	padding: 20px 0;
}