@charset "UTF-8";

/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */
#post_list .kre_grid_item {
	width: 300px;
	min-height: 200px;
	margin: 15px auto 0 auto;
	border: 2px solid #033e6a;
	padding: 10px;
	box-sizing: border-box;
	background-color: #fff;
	transition: background-color 1s, color 1s;
}

#post_list .kre_grid_item:first-child {
	margin-top: 0;
}

#post_list .kre_grid_item.kre_grid_item_empty {
	background-color: rgba(51, 51, 51, 0.8);
	color: #fff;
	cursor: not-allowed;
}

#post_list .kre_grid_item > ul {
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

#post_list .kre_grid_item > ul > li {
	margin-top: 20px;
}

#post_list .kre_grid_item > ul > li:first-child {
	margin-top: 0;
}

#post_list .post_subject {
	font-size: 24px;
	font-weight: bold;
}

#post_list .post_subject a {
	transition: color 1s;
	color: #333;
}

#post_list .post_write_time {
	font-size: 14px;
	color: #777;
	transition: color 1s;
}

#post_list #ad2 {
	width: 300px;
	height: 200px;
	padding: 0;
	border: none;
}

#post_list #ad2 > .adsbygoogle {
	width: 300px;
	height: 200px;
}

#post_list #ad3 {
	width: 300px;
	height: 200px;
	padding: 0;
	border: none;
}

#post_list #ad3 > .adsbygoogle {
	width: 300px;
	height: 200px;
}

#post_list .postListAdsense {
	width: 300px;
	height: 250px;
}

#post_view .kre_article .kre_article_subject {
    margin: 0;
    padding: 0 0 10px 0;
    border-bottom: 2px solid #033e6a;
	color: #033e6a;
	font-size: 28px;
	line-height: 1.3em;
}

#post_view .kre_article .kre_article_info {
	font-size: 18px;
	padding: 20px 10px;
	line-height: 1.3em;
}

#post_view .kre_article .kre_article_info > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#post_view .kre_article .kre_article_info > ul > li {
	margin-top: 6px;
}

#post_view .kre_article .kre_article_info > ul > li:first-child {
	margin-top: 0;
}

#post_view .kre_article .kre_article_info .kre_post_category {
	vertical-align: middle;
    color: #033e6a;
	font-weight: bold;
}

#post_view .kre_article .kre_article_info .kre_post_category:before {
    font-family: "Material Icons";
    content: "\e157";
    margin-right: 2px;
    vertical-align: bottom;
}

#post_view .kre_article .kre_article_info .kre_post_category[target='_blank']:before {
    content: "\e89e";
}

#post_view .kre_article .kre_article_info .kre_post_category.fileLink:before {
	content: "\e226";
}

#post_view .kre_article .kre_article_info .kre_btn_list {
	margin-top: 14px;
}

#post_view .kre_article .kre_article_body {
	min-height: 200px;
    padding: 20px 10px;
	box-sizing: border-box;
	border-top: 2px dotted #033e6a;
	border-bottom: 2px dotted #033e6a;
	line-height: 1.8em;
	word-break: break-all;
	font-size: 18px;
}

#post_view .kre_article .kre_article_body p {
	margin: 24px 0;
}

#post_view .kre_article .kre_article_body img {
	max-width: 100%;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

#post_view .kre_article .kre_article_body a {
	font-weight: bold;
}

#post_view .kre_article .kre_article_body a:before {
    font-family: "Material Icons";
	content: "\e157";
	margin-right: 2px;
	vertical-align: bottom;
}

#post_view .kre_article .kre_article_body a[target='_blank']:before {
	content: "\e89e";
}

#post_view .kre_article .kre_article_body code {
	font-family: 'Nanum Gothic', sans-serif;
	display: block;
	padding: 10px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 24px;
}

#post_view .kre_article .kre_article_body #kre_article_ad1 {
    margin-bottom: 20px;
	background-color: transparent!important;
}

#post_view .kre_article .kre_article_footer {
	padding: 20px 0;
}

#admin_post_list .post_item .postViewLink {
	font-weight: bold;
}

#admin_post_list .post_item {
	margin-top: 20px;
}

#admin_post_list .post_item:first-child {
	margin-top: 0;
}

#admin_post_list .post_item > div {
	margin-top: 6px;
}

#admin_post_list .post_item > div:first-child {
	margin-top: 0;
}

#admin_post_write .kre_writing > div {
	margin-top: 10px;
}

#admin_post_write .kre_btn_list {
	margin-top: 10px;
}

#admin_post_write .kre_writing #postSubject {
	width: 100%;
	height: auto;
    border: none;
    border-bottom: 2px solid #033e6a;
    color: #033e6a;
    font-size: 28px;
    font-weight: bold;
}

#admin_post_write #postAutosaveListBtn {
	margin-left: 6px;
}

#admin_post_write #postAutosaveList {
	display: none;
}

#admin_post_write #postAutosaveList li {
	margin-top: 6px;
}

#admin_post_write #postAutosaveList li:first-child {
	margin-top: 0;
}

#admin_post_write .autosaveListRemoveBtn {
	margin-left: 6px;
}

/* fullImage */
body.hide {
	overflow: hidden;
}

.fullImageWrap {
	display: block;
	cursor: pointer;
}

.fullImageWrap.fullImageWrapActive {
	z-index: 9001;
	position: fixed;
	top: 0;
	left: 0;
}

.fullImageWrap img {
	vertical-align: middle;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#post_list .kre_grid {
		width: 620px;
		margin: 0 auto;
	}

	#post_list .kre_grid:after {
		content: " ";
		display: block;
		clear: both;
	}

	#post_list .kre_grid_item {
		float: left;
		margin: 0;
	}

	#post_list .kre_grid_item:hover {
		background-color: rgba(51, 51, 51, 0.8);
		color: #fff;
		border-color: #f90;
	}
	
	#post_list .kre_grid_item:hover .post_subject a {
		color: #fff;
	}
	
	#post_list .kre_grid_item:hover .post_write_time {
		color: #fff;
	}

	#post_list .kre_grid_item:nth-child(2n) {
		margin-left: 20px;
	}

	#post_list .kre_grid_item:nth-child(n+3) {
		margin-top: 20px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	#post_list .kre_grid {
		width: auto;
		margin: 30px 0 0 0;
	}

	#post_list .kre_grid_item {
		position: absolute;
		top: -9999px;
		left: -9999px;
		width: 300px;
		min-height: 200px;
		margin-top: 0;
		margin-bottom: 20px;
		cursor: pointer;
	}

	#post_list .kre_grid_item:nth-child(2n) {
		margin-left: 0;
	}

	#post_list .kre_grid_item:nth-child(n+3) {
		margin-top: 0;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
